<div class="card">
	<div class="card-header">
		{{ pageTitle }}
	</div>

	<div class="card-body" *ngIf="products$ | async as products">
		<div class="list-group">
			<ng-template ngFor let-product="$implicit" [ngForOf]="products">
				<button
					type="button"
					class="list-group-item"
					[ngClass]="{ active: product?.id === (selectedProduct$ | async)?.id }"
					(click)="onSelected(product.id)"
				>
					{{ product.productName }} ({{ product.category }})
				</button>
			</ng-template>
		</div>
	</div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
	{{ errorMessage }}
</div>
