<div class="mat-typography">
  <!--
    the following centers text within each "grid tile"
    because there is only a single column per row.
    Note: you need to specify a row height; otherwise,
    the text "sinks to the bottom" of the screen.
   -->
  <mat-grid-list cols="1" rowHeight="2rem" >
    <mat-grid-tile>&nbsp;</mat-grid-tile>
    <mat-grid-tile>
      <h2>{{ title }}</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>Angular version {{ ngVersion }}</h4>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>
