<nav class="navbar navbar-expand navbar-light bg-light">
	<a class="navbar-brand">{{ pageTitle }}</a>
	<ul class="navbar-nav">
		<!-- NOTE: use of $implicit below causes loop variable link to have a type of CustomLink -->
		<ng-template ngFor let-link="$implicit" [ngForOf]="links">
			<li class="nav-item">
				<a

					class="nav-link"
					[routerLink]="link.path"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{exact: true}"
					#rla="routerLinkActive"
				>
					{{ link.label }}
				</a>
			</li>
		</ng-template>
	</ul>
</nav>
