/* You can add global styles to this file, and also import other style files */
$color-card-header: #f3f3f3;
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	.text-center {
		text-align: center;
		align-items: center;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.ul-unstyled {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.border-thick {
		border-color: black;
		border-width: 0.1em;
		border-style: solid;
	}
	
	.border-thin {
		border-color: black;
		border-width: 0.02em;
		border-style: solid;
	}

	.center-66-pct {
		width: 66%;
		max-width: 66%;
		margin-left: 17%;
		margin-right: 17%;
	}
	.gray-background {
		background-color: $color-card-header;
	}
}
